{% extends 'base.html' %} {% block nav %}
<div class="navbar bg-primary text-primary-content sticky top-0 z-50">
  <div class="flex-1">
    <a href="{% url 'home' %}" class="btn btn-ghost normal-case text-xl">آجیل و خشکبار</a>
  </div>
  <div class="flex-none">
    {% if not user.is_superuser %}
    <a href="{% url 'orderList' %}" class="btn btn-ghost">
      پیگیری خرید ها
      <i class="fa-solid fa-basket-shopping"></i>
    </a>
    {% endif %}
    <a href="{% url 'logout' %}" class="btn btn-ghost">
      خروج از حساب 
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</div>

<div class="max-w-5xl mx-auto px-5">
  {% block content %}
  {% endblock content %}
</div>

{% endblock nav %}
